[submodule "vim/pack/default/start/vim-surround"]
	path = vim/pack/default/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/pack/default/start/vim-repeat"]
	path = vim/pack/default/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
