[submodule "vim/pack/default/start/vim-surround"]
	path = vim/pack/default/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/pack/default/start/vim-repeat"]
	path = vim/pack/default/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/pack/default/start/vim-indent-object"]
	path = vim/pack/default/start/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
[submodule "vim/pack/default/start/ctrlp.vim"]
	path = vim/pack/default/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/pack/default/start/vdebug"]
	path = vim/pack/default/start/vdebug
	url = git@github.com:yplaksyuk/vdebug.git
